<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
        <div class="col-12 col-md">
        <a >{% include "main/logo.html" %}</a>
        <small class="d-block mb-3 text-muted">&emsp;&emsp;&emsp;&emsp;&copy; Sept 2022</small>
        </div>
        <div class="col-6 col-md">
        <h5>Categories</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="http://127.0.0.1:8000/MenuFilter/Indian,south-Indian">South-Indian</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'Team' %}" >Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
        </div>
    </div>
    </footer>